* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'inter', sans-serif;
  color: #224;
  font-size: 20px;
  background: linear-gradient(-70deg, #202020, #000000);
}
/*.glass-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1823&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0ODQ4MTE4Mw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=2400);
  padding: 30px;
  min-height: 100vh;
  background-size: cover;
}
.card {
  height: 300px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.55);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 35px;
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-footer {
  font-size: 0.65em;
  color: #446;
}*/
.glass-card {
  padding: 30px;
  min-height: 100vh;
  color: white;
}
.card {
  background: rgba(255, 255, 255, 0.1);
  height: 260px;
  width: 420px;
  border-radius: 20px;

  border: 2px solid rgba(255, 255, 255, 0.1);
}
.card-number {
  display: flex;
  flex-direction: column;
}
.num{
  font-size:12px ;
  color: white;
  font-family: "space mono",monospace;
  padding-bottom: 2px;
}
